<div class="jumbotron" style="background-color:#449158 ;">
    <h1 class="display-5" style="color: #f3f1f1; text-align: center;"> Poker Hand Generator <img src="assets/Poker chips@0,25x.png" alt="Poker chips"></h1>
    <p class="lead" style="color: white;">This is a simple poker hand generator.</p>
        <hr class="my-4" >
    <p style="color: white;">Click here to refresh the page and generate a new hand of cards.</p>
    <p class="lead">
        <button class="btn btn-primary btn-lg" role="button" style="background-color: #D7BE69;"(click)="newDeck()">New Hand</button>

    </p>
</div>
